.categoryContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20vw, 1fr));
  gap: 1rem;
  padding: 1rem;
}

.categoryCard {
  background: white;
  border-radius: 10px;
  padding: 1.5rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  background: rgba(16, 172, 63, 0.44);
}

.categoryName {
  font-size: 1rem;
  color: #666;
  text-transform: capitalize;
  color: rgb(16, 15, 15);
}

.categoryCount {
  font-size: 1.8rem;
  font-weight: bold;
  color: rgb(20, 19, 19);
}
