.container1 {
  width: 30%;
  text-align: left;
  padding: 20px; /* Optional: Light background */
}

.container1 .heading {
  font-size: 2rem;
  font-weight: 1500;
  margin-bottom: 1rem;
  color: #333;
}

.container1 .text {
  font-size: 1.4rem;
  margin-bottom: 1.5rem;
  color: #666;
  font-weight: 900;
}

.container1 .button {
  background-color: #4caf50;
  color: white;
  padding: 0.8rem 1.5rem;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s;
}

.container1 .button:hover {
  background-color: #45a049;
}

.container2 {
  width: 95%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 20px;
  margin: auto;
}

.box {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 10px;
  background-color: #f5f5f5;
}

.row {
  padding: 10px;
}

.rowBottom {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}

.circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: rgb(17, 201, 41);
}

.text {
  margin-left: 10px;
  font-size: 0.7rem;
  color: #333;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin: 0 auto;
  z-index: 4;
  width: 92%;
}

.imageContainer {
  /* Creates square aspect ratio */
  border-radius: 8px;
  cursor: pointer;
}

.image {
  width: 80%;
  height: 80%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.image:hover {
  transform: scale(1.05);
}

.button1 {
  background-color: #4caf50;
  color: white;
  padding: 0.8rem 1.5rem;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s;
  width: 140px !important;
  height: 8vh !important;
}
.gridContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  padding: 1rem;
  width: 100%;
}

.gridItem {
  font-size: 0.9rem;
  padding: 0.5rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.gridItem:hover {
  color: #333;
  text-decoration: underline;
}
