.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  border: 1px solid gray;
  border-radius: 20px;
  width: 95%;
  position: fixed;
  top: 5vh;
  z-index: 1000;
  background-color: white;
  left: 2vw;
}

.navbarLeft {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.logo {
  height: 40px;
  width: auto;
}

.brandText {
  color: black;
  font-size: 1.5rem;
  font-weight: bold;
}

.navbarButton {
  background-color: #4caf50;
  color: white;
  padding: 0.8rem 1.5rem;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s;
}

.navbarButton:hover {
  background-color: #45a049;
}

.logoText {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-size: 1.2rem;
  color: #2d3436;
}

.logoText sup {
  font-size: 0.4em;
  vertical-align: super;
  margin-left: 2px;
}
