/* Settings.module.css */
.formContainer {
  padding: 2rem;
  width: 75vw;
  margin-bottom: 4rem;
  position: relative; /* Add this for button positioning */
}

.heading {
  margin-bottom: 0rem;
  position: relative;
  /* Reduced padding */
}

.headingText {
  position: relative;
  background: white;
  padding-right: 1rem;
  font-weight: 600;
  color: rgb(14, 159, 65);
  display: inline-block;
  margin: 0; /* Ensure no margin */
  border-bottom: 2px solid rgb(14, 159, 65);
  line-height: 1; /* Control text height */
}
.formGroup {
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
}

.inputField {
  width: 100%;
  padding: 0.8rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-top: 0.5rem;
}

.submitButton {
  background-color: #4caf50;
  color: white;
  padding: 1rem 4rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  position: absolute;
  right: 1rem;
  bottom: -2rem;
}
