.sidebar {
  width: 250px;
  height: 100vh;
  background: #ffffff;
  box-shadow: 2px 0 15px rgba(0, 0, 0, 0.1);
  text-decoration: none;
  position: relative;
}

.logoContainer {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  margin-bottom: 2rem;
  text-decoration: none !important;
}

.logo {
  width: 40px;
  height: 40px;
}

.brandName {
  font-size: 1.5rem;
  font-weight: 600;
  color: #333333;
  margin: 0;
  text-decoration: none;
}

.navMenu {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.navItem {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.8rem 1.2rem;
  border-radius: 8px;
  transition: all 0.2s ease;
  cursor: pointer;
  text-decoration: none !important;
}

.navItem:hover {
  background: #f5f5f5;
}

.navItem:active {
  background: #f1f6fa !important;
}

.navIcon {
  width: 24px;
  height: 24px;
  opacity: 0.8;
}

.navText {
  font-size: 1rem;
  color: rgba(103, 100, 100, 0.76);
  font-weight: 500;
  text-decoration: "none";
}

.active {
  background: #f1f6fa !important;
  padding-right: 0;
  border-top-right-radius: -50%;
  border-bottom-right-radius: -50%;
}

.active .navText {
  color: rgba(11, 206, 43, 0.88);
  font-weight: 600;
}

.active .navIcon {
  opacity: 1;
  filter: invert(48%) sepia(79%) saturate(2400%) hue-rotate(86deg)
    brightness(98%) contrast(109%);
}
.bottomLeftContainer {
  position: absolute;
  bottom: 20px;
  left: 20px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.bottomIcon {
  width: 24px;
  height: 24px;
}

.bottomText {
  font-size: 0.9rem;
  color: #666;
  margin: 0;
}
