.container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  height: 85vh;
  width: 70vw;
  margin-left: 10vw;
  margin-top: 15vh;
}
.logoContainer {
  position: absolute;
  top: 20px;
  left: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.logoImage {
  width: 40px; /* Adjust based on your logo size */
  height: 40px;
}

.logoText {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 1.2rem;
  color: #2d3436;
}

.logoText sup {
  font-size: 0.6em;
  vertical-align: super;
  margin-left: 2px;
}

.heading {
  font-family: "Poppins", sans-serif;
  align-self: flex-start;
  /* Add any other heading styles you want */
}

input {
  width: 70%;
  padding: 0.5rem;
  border: none;
  background: #f6f7f5;
  border-radius: 6px;
  margin-top: 8vh;
  padding: 1rem;
}
.buttonsContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  width: 70%;
  margin-top: 1rem;
}

.categoryButton {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.8rem;
  background: #f6f7f5;
  border: none;
  border-radius: 16px;
  cursor: pointer;
  transition: all 0.2s ease;
  font-size: 0.6rem;
  font-weight: 600;
  color: #2d3436;
}

.categoryButton:hover {
  background: #e1e3de;
}

.categoryButton span {
  font-size: 1.2rem;
}

.submitButton {
  width: 70%;
  padding: 0.75rem;
  background-color: #28a263;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  margin-top: 8vh;
}
.selected {
  background: #28a263 !important;
  color: white;
}
